name: Docker test

on: [push]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: docker-login
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }} 
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
          
      - name: docker build 
        run: |
          docker build dockerfiles -t jmcphillips15/github_docker_testing:0.1 -f Dockerfile
      - name: docker push the image
        run: |
          docker push jmcphillips15/github_docker_testing:0.1

          
